table.ProgramMatrix tr td {
  font-family:"Lucida Sans Unicode";
  text-align:center;
  vertical-align:top;
  padding: 0px;
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  border-style:solid;
  border-width:1px;
  border-color:#969696;
}

table.ProgramMatrix  p {
  text-align : center ;
}

table.ProgramMatrix {
  border-collapse: separate;
  border-spacing : 5px ;
}

table.ProgramMatrix td.technology {
	font-size: small;
}
table.ProgramMatrix td.customer {
	font-size: small;
}
table.ProgramMatrix td.cases {
	font-size: small;
}
table.ProgramMatrix td.team {
	font-size: small;
}
table.ProgramMatrix td.process {
	font-size: small;
}

table.ProgramMatrix td.none {
	font-size: small;
}

table.ProgramMatrix td.other {
	font-size: small;
}
.technology { background-color:#C7FFB1; }
.customer { background-color:#D6F9FF; }
.cases { background-color:#FF9; }
.team { background-color:#FEC9DC; }
.process { background-color:#FED28E; }
.none { background-color:white; }
.other { background-color:white; }
.structure {  background-color : #EFEFEF; font-weight: bold;}

table.ProgramMatrix td  a {
  color: black;
  text-decoration: none;
  font-weight : bold ;
}

table.ProgramMatrix  td a:hover {
  color: black;
  text-decoration: underline;
  font-weight : bold ;
}

table.ProgramCard {
  border-collapse: collapse;
  border-spacing : 5px ;
  width : 95% ;
  -moz-box-shadow:    10px 10px 5px 6px #ccc;
  -webkit-box-shadow: 10px 10px 5px 6px #ccc;
  box-shadow:         10px 10px 5px 6px #ccc;
}

table.ProgramCard td {
  text-align:left;
  vertical-align:top;
  margin-left: 1em ;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid black ;
}

table.ProgramCard td  a {
  color: black;
  text-decoration: none;
  font-weight : bold ;
}

table.ProgramCard  td a:hover {
  color: black;
  text-decoration: underline;
  font-weight : bold ;
}

table.ProgramCard h3 {
 color : black ;
}



.ribbon {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -4em;
  top: 2.5em;
  /* 45 deg ccw rotation */
   -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   transform:         rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 120% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

table.personalist {
    border-collapse: separate ;
}

table.personalist td.card {
    background-color: white ;
    text-align:  center ;
    vertical-align: top ;
}

table.personalist td.description {
    background-color: white ;
    text-align:  justify ;
    vertical-align: top ;
}

img.persona_id {
    border : 1px solid black ;
}

div.persona {
    background-color: white ;
    display: inline-block ;
    padding : 0.5em ;
    border : 1px solid black ;
    margin : 0.2em;

}

div.persona div.mugshot {
}

div.persona div.mugshot img {
    border : 1px solid black ;
}

div.persona div.name {
    text-align: center ;
}

span.sessionlimit {
    float : right ;
    text-align : center ;
    display: block;
    padding : 1em ;
}

span.sessionlimit .count {
    font-size: 4em ;
    font-weight:bold;
display : block;
}

span.sessionlimit span.legend {
    font-size: 1em ;
display : block;
}

img.profile {
    padding-right : 1em ;
    max-width : 200px ;
    max-height: 200px;
    float : left ;
}
