<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li><a href={{ "/about.html" | prepend: site.baseurl
            }}>About XP Day</a></li>
        <li><a href={{ "/xpdays/Feedback/" | prepend: site.baseurl
            }}>Last years feedback</a></li>
        <li><a href={{ "/previous-editions.html" | prepend: site.baseurl }}>Previous conferences 2003-2014</a> </li>
      </ul>

    </div>
    <div class="col-md-4">
      <ul>
        <li><a href={{ "/important-dates.html" | prepend: site.baseurl }}>Important Dates</a> </li>
        <li>Call for sessions (not open yet)</li>
        <li><a href="http://www.kapellerput.nl" target="blank">The venue - kapellerput</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><a href={{ "/organisers.html" | prepend: site.baseurl }}>The organisers</a></li>
        <li><a href={{ "/sponsors.html" | prepend: site.baseurl }}>Our
            Sponsors</a> </li>
        <li><a href={{ "/sponsor-us.html" | prepend: site.baseurl }}>Sponsor Programmes</a> </li>
      </ul>
    </div>
  </div>
  <div class="row" style="text-align:center">
    <div>&copy; <a href={{ "http://agilesystems.org" | prepend: site.baseurl }}>Agile Systems vzw</a> 2003-2015.
       - Contact us at info@xpday.net</div>
  </div>
</div>

