<div class="footer">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li><a href="/about/PreviousEditions.html">Previous conferences 2003-2014</a> </li>
        <li><a href="/mini-xpday/about.html">Mini XP Day<br />&nbsp;</a></li>
      </ul>

    </div>
    <div class="col-md-4">
      <ul>
        <li><a href="/about/PreviousEditions.html">Previous conferences 2003-2014</a> </li>
        <li><a href="/mini-xpday/about.html">Mini XP Day<br />&nbsp;</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li><a href="/about/PreviousEditions.html">Previous conferences 2003-2014</a> </li>
        <li><a href="/mini-xpday/about.html">Mini XP Day<br />&nbsp;</a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="text-align:center">
    <div>&copy; <a href="http://agilesystems.org">Agile Systems vzw</a> 2003-2015.
       - Contact us at info@xpday.net</div>
  </div>
</div>

